[server]
[mysqld]
innodb_flush_log_at_trx_commit = 2
bind-addres = 0.0.0.0
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
query_cache_size        = 0
log_error = /var/log/mysql/error.log
slow_query_log = off
slow_query_log_file    = /var/log/mysql/mariadb-slow.log
long_query_time        = 0
expire_logs_days        = 10
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
[embedded]
[mariadb]
[mariadb-10.3]
